<!DOCTYPE html>
<html class="dark" lang="en">
    <head>
        <title>Tahuti</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="An Expense Sharing App for Urbit" />
        <link rel="stylesheet" href="/apps/tahuti/static/css/min/style.css" />
        <link
            rel="stylesheet"
            href="/apps/tahuti/static/css/min/print.css"
            media="print"
        />
        <script src="/apps/tahuti/assets/htmx.js"></script>
        <script src="/apps/tahuti/assets/json-enc.js"></script>
        <script src="/apps/tahuti/assets/client-side-templates.js"></script>
        <script src="/apps/tahuti/assets/mustache.js"></script>
        <script src="/apps/tahuti/assets/currency.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <!-- hrefs is set by request.js -->
                    <li>
                        <a href="/apps/tahuti/groups">Groups</a>
                    </li>
                    <li>
                        <a id="expenses-href" href="">Expenses</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Balances</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Reimbursments</a>
                    </li>
                    <li>
                        <a id="members-href" href="">Members</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Settings</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div hx-ext="client-side-templates,path-deps">
            <div
                hx-get="/"
                hx-trigger="load"
                mustache-template="title-template"
            >
                <h1 style="opacity: 0">Loading ...</h1>
            </div>
            <template id="title-template">
                <h1>{{title}}</h1>
            </template>

            <h2>Add an Expense</h2>
            <!-- TODO: redirect to /expenses -->
            <form
                id="put-expenses"
                hx-put="/expenses"
                hx-ext="json-enc"
                hx-swap="none"
                hx-vals="js:{eid: self.crypto.randomUUID(), gid: currentGID()}"
                hx-on::after-request="if(event.detail.successful) this.reset()"
            >
                <!-- titel -->
                <label for="title">What for?</label>
                <br />
                <input
                    id="title"
                    type="text"
                    inputmode="text"
                    autocomplete="on"
                    name="title"
                    aria-label="Title"
                    placeholder="Title"
                    required
                />
                <br />
                <!-- amount -->
                <label for="amount">How much?</label>
                <br />
                <input
                    id="amount"
                    type="text"
                    inputmode="decimal"
                    autocomplete="transaction-amount"
                    name="amount"
                    aria-label="Amount"
                    placeholder="23.00"
                    required
                />
                <br />
                <!-- currency -->
                <label for="currency">Which currency? (optional)</label>
                <datalist id="currency-list">
                    <option>EUR</option>
                    <option>USD</option>
                </datalist>
                <br />
                <input
                    id="currency"
                    type="text"
                    inputmode="text"
                    autocomplete="off"
                    name="currency"
                    aria-label="Currency"
                    placeholder="EUR"
                    value="EUR"
                    list="currency-list"
                    required
                />
                <br />
                <!-- payer -->
                <label for="payer">Who paid?</label>
                <datalist
                    id="payer-list"
                    hx-get="/register"
                    hx-trigger="load"
                    mustache-template="datalist-temp"
                >
                </datalist>
                <template id="datalist-temp">
                    {{#.}}
                    <option>{{.}}</option>
                    {{/.}}
                </template>
                <br />
                <!-- TODO: make current ship the default/placeholder -->
                <!-- TODO: add current ship as default value -->
                <input
                    id="payer"
                    type="text"
                    inputmode="text"
                    autocomplete="off"
                    name="payer"
                    aria-label="Payer"
                    placeholder="~zod"
                    list="payer-list"
                    required
                />
                <br />
                <!-- date -->
                <label for="date">When?</label>
                <br />
                <input
                    id="date"
                    type="date"
                    inputmode="text"
                    name="date"
                    aria-label="Date"
                />
                <br />
                <br />
                <button type="submit">Add ▸</button>
                <button>Cancel</button>
            </form>
        </div>
    </body>
    <script src="/apps/tahuti/assets/request.js"></script>
    <script src="/apps/tahuti/assets/validation-add.js"></script>
</html>
