<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <title>Tahuti</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <!-- PWA -->
    <meta name="theme-color" content="#cc241d" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Group Expenses" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/180.png"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/static/css/min/style.css" />
    <link
      rel="stylesheet"
      href="/apps/tahuti/static/css/min/print.css"
      media="print"
    />
    <script src="/apps/tahuti/assets/htmx.js"></script>
    <script src="/apps/tahuti/assets/json-enc.js"></script>
    <script src="/apps/tahuti/assets/client-side-templates.js"></script>
    <script src="/apps/tahuti/assets/mustache.js"></script>
    <script src="/apps/tahuti/assets/currency.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <!-- hrefs are set by request.js -->
          <li>
            <a href="/apps/tahuti/groups">↜ Groups</a>
          </li>
          <li>
            <a id="expenses-href" href="">Expenses</a>
          </li>
          <li>
            <a id="balances-href" href="">Balances</a>
          </li>
          <li>
            <a id="reimbursements-href" href="">Reimbursements</a>
          </li>
          <li>
            <a id="settings-href" href="">Settings</a>
          </li>
        </ul>
      </nav>
    </header>

    <div hx-ext="client-side-templates">
      <div
        hx-get="/"
        hx-trigger="load"
        hx-swap="outerHTML"
        mustache-template="group-template"
      >
        <h2 style="opacity: 0">Loading ...</h2>
        <div id="currency" hidden></div>
      </div>

      <template id="group-template">
        <h2>{{title}}</h2>
        <div id="currency" hidden>{{currency}}</div>
      </template>

      <div
        id="expense"
        hx-get="/"
        hx-trigger="load"
        mustache-template="expense-template"
      ></div>
      <template id="expense-template">
        <table class="col-two">
          <!-- iterate over array of members object -->
          <thead></thead>
          <tbody>
            {{#.}}
            <tr>
              <th>For what?</th>
              <td>{{title}}</td>
            </tr>
            <tr>
              <th>Amount</th>
              <td id="amount">{{amount}}</td>
            </tr>
            <tr>
              <th>Paid by</th>
              <td>{{payer}}</td>
            </tr>
            <tr>
              <th>Date</th>
              <td id="date">{{date}}</td>
            </tr>
            <tr>
              <th>Time</th>
              <td id="time">{{date}}</td>
            </tr>
            <tr>
              <th>Involves</th>
              <td>
                {{#involves}} 
                    {{.}} <br />
                {{/involves}}
              </td>
            </tr>
            {{/.}}
          </tbody>
        </table>
        <fieldset>
          <form
            id="delete-exepense"
            hx-delete="/expenses/{{eid}}"
            hx-confirm="Are you sure?"
            hx-ext="json-enc"
            hx-swap="none"
            hx-request="noHeaders"
            hx-on::after-request="window.location.pathname = '/apps/tahuti/groups/{{gid}}/expenses'"
          >
            Deleting this expense will permanently remove it.
            <br />
            <button class="button-cancel" type="submit">
              Delete this expense
            </button>
          </form>
        </fieldset>
      </template>
    </div>
  </body>
  <script src="/apps/tahuti/assets/request-expense.js"></script>
  <script>
    const USD = (value) =>
      currency(value, {
        symbol: "$",
        pattern: `# !`,
        fromCents: true,
      });
    const EUR = (value) =>
      currency(value, {
        symbol: "€",
        decimal: ",",
        separator: ".",
        pattern: `# !`,
        fromCents: true,
      });
    const BTC = (value) =>
      currency(value, {
        symbol: "₿",
        decimal: ".",
        pattern: `# !`,
        fromCents: true,
        precision: 8,
      });

    // format values
    //
    const list = document.getElementById("expense");
    list.addEventListener("htmx:afterSwap", (event) => {
      date = document.getElementById("date");
      const dval = new Date(Number(date.innerText));
      date.innerText = dval.toLocaleDateString();

      time = document.getElementById("time");
      time.innerText = dval.toLocaleTimeString([], {
        hour: "2-digit",
        minute: "2-digit",
      });

      const amount = document.getElementById("amount");
      const code = document.getElementById("currency").innerText;

      if (code == "EUR") {
        amount.innerText = EUR(amount.innerText).format();
      } else if (code == "USD") {
        amount.innerText = USD(amount.innerText).format();
      } else if (code == "BTC") {
        amount.innerText = BTC(amount.innerText).format();
      } else {
        <!-- TODO: what to do in this case?-->
        console.log("currency code not supported.");
      }
    });
  </script>
</html>
