<!DOCTYPE html>
<html class="dark" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="Tahuti - An Expense Sharing App for Urbit"
        />
        <title>Tahuti</title>
        <link rel="stylesheet" href="/apps/tahuti/static/css/min/style.css" />
        <link
            rel="stylesheet"
            href="/apps/tahuti/static/css/min/print.css"
            media="print"
        />
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/json-enc.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/debug.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/client-side-templates.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/path-deps.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/apps/tahuti/groups">Groups</a>
                    </li>
                    <li>
                        <a id="expenses-href" href=""
                            ><strong>Expenses</strong></a
                        >
                    </li>
                    <li>
                        <a style="opacity: 0.3">Balances</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Reimbursments</a>
                    </li>
                    <li>
                        <a id="members-href" href="">Members</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Settings</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div hx-ext="client-side-templates,path-deps">
            <div
                hx-get="/"
                hx-trigger="load"
                mustache-template="title-template"
            >
                <h1 style="opacity: 0">Loading ...</h1>
            </div>
            <template id="title-template">
                <h1>{{title}}</h1>
            </template>

            <h2>Expenses</h2>
            <table id="expenses">
                <thead>
                    <tr>
                        <!-- <th>For What?</th> -->
                        <!-- <th>Paid By</th> -->
                        <!-- <th>Date</th> -->
                        <!-- <th>Involves</th> -->
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody
                    id="get-expenses"
                    hx-get="/expenses"
                    hx-trigger="load"
                    mustache-template="expenses-template"
                ></tbody>
            </table>
            <template id="expenses-template">
                <!-- iterate over array of members object -->
                {{#.}}
                <tr>
                    <td>{{amount}}</td>
                </tr>
                {{/.}}
            </template>
        </div>
    </body>
    <footer>
        <a id="add-href" href="">
            <svg
                id="add-btn"
                width="24px"
                height="24px"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="#fffff3"
                xmlns="http://www.w3.org/2000/svg"
                color="#000000"
            >
                <path
                    d="M22 14V8.5M6 13V6a3 3 0 013-3h5M16.992 4h3m3 0h-3m0 0V1m0 3v3M12 21H6a4 4 0 010-8h12a4 4 0 104 4v-3"
                    stroke="#000000"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></path></svg
        ></a>
    </footer>
    <script type="text/javascript">
        var parts = window.location.href.split("/");
        parts.pop() || parts.pop(); // handle potential trailing slash
        var uuid = parts.pop() || parts.pop(); // handle potential trailing slash
        document.body.addEventListener("htmx:configRequest", (event) => {
            site = `/apps/tahuti/api/groups/${uuid}${event.detail.path}`;
            event.detail.path = site.replace(/\/$/, ""); // without trailing slash
        });

        let endpoints = ["expenses", "members", "add"];
        for (let i = 0; i < endpoints.length; i++) {
            let href = `/apps/tahuti/groups/${uuid}/${endpoints[i]}`;
            let element = document.getElementById(`${endpoints[i]}-href`);
            element.setAttribute("href", href);
        }
    </script>
</html>
