<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tahuti</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="An Expense Sharing App for Urbit" />
        <link rel="stylesheet" href="/apps/tahuti/static/css/min/style.css" />
        <link
            rel="stylesheet"
            href="/apps/tahuti/static/css/min/print.css"
            media="print"
        />
        <script src="/apps/tahuti/assets/htmx.js"></script>
        <script src="/apps/tahuti/assets/json-enc.js"></script>
        <script src="/apps/tahuti/assets/path-deps.js"></script>
        <script src="/apps/tahuti/assets/client-side-templates.js"></script>
        <script src="/apps/tahuti/assets/mustache.js"></script>
    </head>

    <body>
        <header>
            <nav aria-label="Global">
                <ul>
                    <li>
                        <a href="/apps/tahuti/groups"
                            ><strong>Groups</strong></a
                        >
                    </li>
                    <li>
                        <a style="opacity: 0.3">Expenses</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Balances</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Reimbursments</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Members</a>
                    </li>
                    <li>
                        <a style="opacity: 0.3">Settings</a>
                    </li>
                </ul>
            </nav>
        </header>
        <h1>Tahuti</h1>
        <!-- TODO: Get host from cookie -->
        <div hx-ext="path-deps" hx-request="noHeaders">
            <h2>Create a Group</h2>
            <form
                id="put-groups"
                hx-put="/apps/tahuti/api/groups"
                hx-ext="json-enc"
                hx-swap="none"
                hx-vals='js:{gid: self.crypto.randomUUID(), host: "~zod"}'
                hx-on::after-request="if(event.detail.successful) this.reset()"
            >
                <input
                    id="group-title"
                    type="text"
                    name="title"
                    aria-label="Group Title"
                    placeholder="title"
                    required
                />
                <br />
                <datalist id="currency-list">
                    <option>EUR</option>
                </datalist>
                <input
                    id="currency"
                    type="text"
                    inputmode="text"
                    autocomplete="off"
                    name="currency"
                    aria-label="Currency"
                    placeholder="EUR"
                    value="EUR"
                    list="currency-list"
                    required
                />
                <button type="submit">Create ▸</button>
            </form>

            <h2>Join a Group</h2>
            <form
                id="post-join"
                hx-post="/apps/tahuti/api/action/join"
                hx-ext="json-enc"
                hx-swap="none"
                hx-on::after-request="if(event.detail.successful) this.reset()"
            >
                <!-- TODO: add validation (valid @p) -->
                <input
                    type="text"
                    name="host"
                    aria-label="host"
                    placeholder="~zod"
                    required
                />
                <br />
                <!-- TODO: add validation (valid uuid) -->
                <input
                    type="text"
                    name="gid"
                    aria-label="Group ID"
                    placeholder="14488cd0-f23f-4d21-862e-d79803d159e4"
                    required
                />
                <button type="submit">Join ▸</button>
            </form>

            <h2>Groups</h2>
            <div hx-ext="client-side-templates">
                <ul
                    hx-get="/apps/tahuti/api/groups"
                    hx-trigger="load,path-deps"
                    path-deps="/apps/tahuti/api/*"
                    mustache-template="groups-template"
                >
                    <emp style="opacity: 0">Loading ...</emp>
                </ul>

                <template id="groups-template">
                    <!-- iterate over top level array -->
                    {{#.}}
                    <li>
                        <a href="/apps/tahuti/groups/{{gid}}/expenses.html"
                            >{{title}}</a
                        >
                    </li>
                    {{/.}}
                </template>
            </div>
        </div>
    </body>
    <script src="/apps/tahuti/assets/validation.js"></script>
</html>
