<!doctype html>
<html lang="en">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Group Expenses" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/180.png"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/css/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/css/print.css" media="print" />
    <script src="/apps/tahuti/js/index.js"></script>
    <script src="/apps/tahuti/js/client-side-templates.js"></script>
  </head>

  <body>
    <header>
      <nav aria-label="Global">
        <ul>
          <li>
            <a href="/apps/tahuti/groups">↜ Groups</a>
          </li>
          <li>
            <a id="expenses-href" href="">Expenses</a>
          </li>
          <li>
            <a id="balances-href" href="">Balances</a>
          </li>
          <li>
            <a id="settings-href" href="">Settings</a>
          </li>
          <li>
            <a id="about-href" href=""><strong>About</strong></a>
          </li>
        </ul>
      </nav>
    </header>

    <div hx-ext="client-side-templates" hx-request="noHeaders">
      <div
        hx-get="/"
        hx-trigger="load"
        mustache-template="group-template"
      ></div>
      <template id="group-template">
        <h2>{{title}}</h2>
      </template>

      <h3>About</h3>
      <table class="col-two">
        <thead></thead>
        <tbody>
          <tr>
            <th>Version</th>
            <td hx-get="/apps/tahuti/api/version" hx-trigger="load"></td>
          </tr>
          <tr>
            <th>Developer</th>
            <td>
              <a href="/apps/talk/dm/~talfus-laddus" target="_blank"
                >~talfus-laddus</a
              >
            </td>
          </tr>
          <tr>
            <th>Code Repository</th>
            <td>
              <a href="https://git.sr.ht/~talfus-laddus/tahuti">Sourcehut</a>
            </td>
          </tr>
        </tbody>
      </table>
      <template id="version-template">
        <td>{{#.}} {{.}} {{/.}}</td>
      </template>

      <h3>Contact</h3>
      <p>
        Please reach out to
        <a href="/apps/talk/dm/~talfus-laddus" target="_blank">~talfus-laddus</a
        >, to report any bug, to give feedbag or to receive support.
      </p>
    </div>
  </body>

  <script src="/apps/tahuti/js/groups.js"></script>
</html>
