<!doctype html>
<html class="dark">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Group Expenses" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/180.png"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates" hx-indicator="#overlay">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/groups">↜ Groups</a>
          </li>
          <li>
            <a href="/groups/{gid}/expenses">Expenses</a>
          </li>
          <li>
            <a href="/groups/{gid}/balances">Balances</a>
          </li>
          <li>
            <a href="/groups/{gid}/settings">Settings</a>
          </li>
          <li>
            <a href="/groups/{gid}/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <div
      hx-get="/api/groups/{gid}"
      hx-trigger="load"
      hx-swap="outerHTML"
      mustache-template="title-template"
    ></div>
    <template id="title-template">
      <h2>{{title}}</h2>
      <div id="group-currency" hidden>{{currency}}</div>
    </template>

    <h3>Add an expense</h3>
    <!-- TODO: redirect to /expenses -->
    <fieldset>
      <form
        id="put-expenses"
        hx-put="/api/groups/{gid}/expenses"
        hx-ext="json-enc"
        hx-vals="js:{eid: self.crypto.randomUUID(), gid: gid()}"
      >
        <!-- titel -->
        <label for="title">What for?</label>
        <br />
        <input
          id="title"
          type="text"
          inputmode="text"
          autocomplete="on"
          name="title"
          aria-label="Title"
          placeholder="Title"
          required
        />
        <br />

        <!-- currency -->
        <!-- TODO: on change update currencyMask -->
        <label for="currency">Which currency?</label>
        <br />
        <select
          hx-get="/api/groups/{gid}"
          hx-trigger="load"
          mustache-template="currency-template"
          id="currency"
          type="text"
          name="currency"
          aria-label="Currency"
          required
        ></select>
        <template id="currency-template">
          <!-- <option value="{{currency}}">{{currency}}</option> -->
        </template>
        <br />

        <!-- amount -->
        <label for="amount">How much?</label>
        <br />
        <input
          id="amount"
          type="text"
          inputmode="numeric"
          name="amount"
          aria-label="Amount"
          placeholder="Amount"
          autocomplete="off"
          required
        />
        <br />
        <div hidden data-amount="" id="convertedAmount"></div>
        <br id="break" hidden />

        <!-- payer -->
        <!-- TODO: add current ship as default value -->
        <label for="payer">Who paid?</label>
        <br />
        <select
          hx-get="/api/groups/{gid}/members"
          hx-trigger="load"
          mustache-template="payer-template"
          id="payer"
          type="text"
          name="payer"
          aria-label="Payer"
          required
        ></select>
        <template id="payer-template">
          {{#.}}
          <option value="{{.}}">{{.}}</option>
          {{/.}}
        </template>
        <br />

        <!-- involved -->
        <label>Who is involved?</label>
        <br />
        <div
          hx-get="/api/groups/{gid}/members"
          hx-trigger="load"
          mustache-template="involved-template"
        ></div>
        <template id="involved-template">
          {{#.}}
          <input
            class="checkbox"
            id="check-{{.}}"
            type="checkbox"
            name="involves"
            value="{{.}}"
            checked
          />
          <label for="check-{{.}}">{{.}} </label>
          <br />
          {{/.}}
        </template>

        <!-- When? -->
        <label for="date">When?</label>
        <br />
        <input
          id="date"
          type="date"
          inputmode="text"
          name="date"
          aria-label="Date"
        />
        <br />

        <!-- Submit -->
        <button class="button-primary" type="submit">Add expense ▸</button>
        <button
          class="button-cancel"
          onclick="window.location.href='/apps/tahuti/groups/' + gid() + '/expenses';
"
          type="button"
          value="Cancel"
        >
          Cancel
        </button>
      </form>
    </fieldset>
  </body>

  <script src="/apps/tahuti/helper.js"></script>
  <script>
    let currencyMask = null;
    const form = document.getElementById("put-expenses");
    form.addEventListener("htmx:afterSettle", (event) => {
      // input elements
      const amount = document.getElementById("amount");
      const currency = document.getElementById("currency");
      const involves = Array.from(document.querySelectorAll(".checkbox"));
      const date = document.getElementById("date");

      // values
      const groupCurrency = document.getElementById("group-currency").innerText;

      // validators
      //
      // involves: at least one checkbox (involved member) must be selected
      involves.forEach((item) => {
        item.addEventListener("click", (event) => {
          if (involves.reduce((acc, curr) => acc || curr.checked, false)) {
            // valid
            involves.at(-1).setCustomValidity("");
          } else {
            // invalid
            involves.at(-1).setCustomValidity("Select at least one.");
          }
        });
      });
      // amount: must be a number
      amount.addEventListener("input", (event) => {
        let val = currencyMask.getUnmasked();
        if (Number.isNaN(parseFloat(val)) && !Number.isFinite(val)) {
          amount.setCustomValidity("Please enter a valid amount.");
        } else {
          amount.setCustomValidity("");
        }
      });

      // defaults
      //
      // date: current date and time
      date.valueAsDate = new Date();
      // currency: group currency
      // retrieve all supported currencies and add it to select list
      const host = "api.frankfurter.app";
      // TODO: set to group currency if request fails
      fetch(`https://${host}/currencies`)
        .then((resp) => resp.json())
        .then((data) => {
          for (const [key, value] of Object.entries(data)) {
            var option = document.createElement("option");
            option.value = key;
            option.text = key;
            currency.appendChild(option);
          }
          currency.value = groupCurrency;
        });

      // input masks
      //
      // currency: use `@tadashi/currency` based on `Intl.NumberFormat`
      const userCurrency = groupCurrency;
      const userLocale =
        navigator.languages && navigator.languages.length
          ? navigator.languages[0]
          : navigator.language;
      currencyMask = new Currency(amount, {
        maskOpts: {
          empty: true,
          locales: userLocale,
          options: {
            style: "currency",
            currency: userCurrency,
          },
        },
      });

      // TODO: reload input mask (currency mask)
      currency.addEventListener("change", (event) => {
        currencyMask.opts.maskOpts.options.currency = currency.value;
      });

      // automatic conversion between currencies
      // (user selected currency to group base currency)
      //
      amount.addEventListener("input", (event) => {
        const userCurrency = document.getElementById("currency").value;
        const convertedAmount = document.getElementById("convertedAmount");
        const breakElement = document.getElementById("break");
        if (groupCurrency === userCurrency) {
          if (!convertedAmount.hasAttribute("hidden")) {
            convertedAmount.addAttribute("hidden");
            breakElement.addAttribute("hidden");
          }
          return;
        }
        const value = currencyMask.getUnmasked();
        if (value === null || value === 0) {
          return;
        }
        const host = "api.frankfurter.app";
        fetch(
          `https://${host}/latest?amount=${value}&from=${userCurrency}&to=${groupCurrency}`,
        )
          .then((resp) => resp.json())
          .then((data) => {
            convertedAmount.removeAttribute("hidden");
            breakElement.removeAttribute("hidden");
            // write as cents to data-* attribute
            convertedAmount.dataset.amount = dollarToCents(
              data.rates[groupCurrency],
              groupCurrency,
            ).toString();
            // display formatted number
            convertedAmount.innerText = `= ${intlCurrencyFormat(
              data.rates[groupCurrency],
              groupCurrency,
            )}`;
          });
      });
    });

    // format request values
    //
    form.addEventListener("htmx:configRequest", (event) => {
      // send amount in cents as string
      if ("amount" in event.detail.parameters) {
        const groupCurrency =
          document.getElementById("group-currency").innerText;
        const userCurrency = document.getElementById("currency").value;
        if (groupCurrency === userCurrency) {
          var val = dollarToCents(
            currencyMask.getUnmasked(),
            groupCurrency,
          ).toString();
        } else {
          var val = document.getElementById("convertedAmount").dataset.amount;
        }
        event.detail.parameters.amount = val;
        event.detail.parameters.currency = groupCurrency;
      }
      // send date as unix timestamp
      if ("date" in event.detail.parameters) {
        event.detail.parameters.date = new Date(date.value).valueOf();
      }
      // always send checkbox checks as array
      if ("involves" in event.detail.parameters) {
        if (!Array.isArray(event.detail.parameters.involves)) {
          // only one checkbox is selected
          event.detail.parameters.involves = [event.detail.parameters.involves];
        }
      }
    });

    form.addEventListener("htmx:afterRequest", (event) => {
      if (event.detail.successful && event.detail.elt.id == "put-expenses") {
        window.location.pathname = "/apps/tahuti/groups/" + gid() + "/expenses";
      }
    });
  </script>
</html>
