<!doctype html>
<html lang="en">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Tahuti" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/apps/tahuti/icon180.png" />
    <link rel="icon" href="/apps/tahuti/icon16.png" sizes="16x16" />
    <link
      rel="icon"
      href="/apps/tahuti/tahuti.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates" hx-indicator="#overlay">
    <header>
      <nav aria-label="Global">
        <ul>
          <li>
            <a href="/groups">↜ Groups</a>
          </li>
          <li>
            <a href="/groups/{gid}/expenses">Expenses</a>
          </li>
          <li>
            <a href="/groups/{gid}/balances">Balances</a>
          </li>
          <li>
            <a href="/groups/{gid}/settings">Settings</a>
          </li>
          <li>
            <a href="/groups/{gid}/about"><strong>About</strong></a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <main>
      <div
        hx-get="/api/groups/{gid}"
        hx-trigger="load"
        mustache-template="group-template"
      ></div>
      <template id="group-template">
        <h2>{{title}}</h2>
      </template>

      <div id="error-div" class="error">
        <p id="error-pre"></p>
      </div>

      <blockquote>
        <a href="https://www.createwcare.com/">Created w/ care</a>
      </blockquote>

      <h3>About</h3>
      <table class="col-two">
        <thead></thead>
        <tbody>
          <tr>
            <th>Version</th>
            <td hx-get="/api/groups/{gid}/version" hx-trigger="load"></td>
          </tr>
          <tr>
            <th>Developer</th>
            <td>
              <a
                href="/apps/talk/dm/~talfus-laddus"
                target="_blank"
                hx-boost="false"
                >~talfus-laddus</a
              >
            </td>
          </tr>
          <tr>
            <th>Code Repository</th>
            <td>
              <a href="https://github.com/matthiasschaub/tahuti">GitHub</a>
            </td>
          </tr>
        </tbody>
      </table>
      <template id="version-template">
        <td>{{#.}} {{.}} {{/.}}</td>
      </template>

      <h3>Contact</h3>
      <p>
        Please reach out to
        <a href="/apps/talk/dm/~talfus-laddus" target="_blank" hx-boot="false"
          >~talfus-laddus</a
        >, to report any bug, to give feedbag or to receive support.
      </p>
    </main>
    <script src="/apps/tahuti/helper.js"></script>
  </body>
</html>
