<!doctype html>
<html class="dark">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Tahuti" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/apps/tahuti/icon180.png" />
    <link rel="icon" href="/apps/tahuti/icon16.png" sizes="16x16" />
    <link
      rel="icon"
      href="/apps/tahuti/tahuti.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body
    hx-boost="true"
    hx-history="false"
    hx-ext="client-side-templates"
    hx-indicator="#overlay"
  >
    <header>
      <nav>
        <ul>
          <li>
            <a href="/groups">↜ Groups</a>
          </li>
          <li>
            <a href="/groups/{gid}/expenses">Expenses</a>
          </li>
          <li>
            <a href="/groups/{gid}/balances">Balances</a>
          </li>
          <li>
            <a href="/groups/{gid}/settings">Settings</a>
          </li>
          <li>
            <a href="/groups/{gid}/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <main>
      <div
        hx-get="/api/groups/{gid}"
        hx-trigger="load"
        hx-swap="outerHTML"
        mustache-template="title-template"
      ></div>
      <template id="title-template">
        <h2>{{title}}</h2>
        <div id="group-currency" hidden>{{currency}}</div>
      </template>

      <div id="error-div" class="error">
        <p id="error-pre"></p>
      </div>

      <h3>Add an expense</h3>
      <!-- TODO: redirect to /expenses -->
      <fieldset>
        <form
          id="put-expenses"
          hx-put="/api/groups/{gid}/expenses"
          hx-ext="json-enc"
          hx-vals="js:{eid: self.crypto.randomUUID(), gid: gid()}"
        >
          <!-- titel -->
          <label for="title">What for?</label>
          <br />
          <input
            id="title"
            type="text"
            inputmode="text"
            autocomplete="on"
            name="title"
            aria-label="Title"
            placeholder="Title"
            required
          />
          <br />

          <!-- currency -->
          <label for="currency">Which currency?</label>
          <br />
          <select
            id="currency"
            type="text"
            name="currency"
            aria-label="Currency"
            required
          >
            <option>AUD</option>
            <option>BGN</option>
            <option>BRL</option>
            <option>CAD</option>
            <option>CHF</option>
            <option>CNY</option>
            <option>CZK</option>
            <option>DKK</option>
            <option>EUR</option>
            <option>GBP</option>
            <option>HKD</option>
            <option>HUF</option>
            <option>IDR</option>
            <option>ILS</option>
            <option>INR</option>
            <option>ISK</option>
            <option>JPY</option>
            <option>KRW</option>
            <option>MXN</option>
            <option>MYR</option>
            <option>NOK</option>
            <option>NZD</option>
            <option>PHP</option>
            <option>PLN</option>
            <option>RON</option>
            <option>SEK</option>
            <option>SGD</option>
            <option>THB</option>
            <option>TRY</option>
            <option>USD</option>
            <option>ZAR</option>
          </select>
          <br />

          <!-- amount -->
          <label for="amount">How much?</label>
          <br />
          <input
            id="amount"
            type="text"
            inputmode="numeric"
            name="amount"
            aria-label="Amount"
            placeholder="Amount"
            autocomplete="off"
            required
          />
          <br />
          <div hidden data-amount="" id="convertedAmount"></div>
          <br id="break" hidden />

          <!-- payer -->
          <!-- TODO: add current ship as default value -->
          <label for="payer">Who paid?</label>
          <br />
          <select
            hx-get="/api/groups/{gid}/members"
            hx-trigger="load"
            mustache-template="payer-template"
            id="payer"
            type="text"
            name="payer"
            aria-label="Payer"
            required
          ></select>
          <template id="payer-template">
            {{#.}}
            <option value="{{.}}">{{.}}</option>
            {{/.}}
          </template>
          <br />

          <!-- involved -->
          <label>Who is involved?</label>
          <br />
          <div
            hx-get="/api/groups/{gid}/members"
            hx-trigger="load"
            mustache-template="involved-template"
          ></div>
          <template id="involved-template">
            {{#.}}
            <input
              class="checkbox"
              id="check-{{.}}"
              type="checkbox"
              name="involves"
              value="{{.}}"
              checked
            />
            <label for="check-{{.}}">{{.}} </label>
            <br />
            {{/.}}
          </template>

          <!-- When? -->
          <label for="date">When?</label>
          <br />
          <input
            id="date"
            type="date"
            inputmode="text"
            name="date"
            aria-label="Date"
          />
          <br />

          <!-- Submit -->
          <button class="button-primary" type="submit">Add expense ▸</button>
          <button
            class="button-cancel"
            onclick="window.location.href='/apps/tahuti/groups/' + gid() + '/expenses';
"
            type="button"
            value="Cancel"
          >
            Cancel
          </button>
        </form>
      </fieldset>
    </main>
    <script src="/apps/tahuti/helper.js"></script>
    <script src="/apps/tahuti/add.js"></script>
  </body>
</html>
