<!doctype html>
<html class="dark" lang="en">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Group Expenses" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/180.png"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/css/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/css/print.css" media="print" />
    <script src="/apps/tahuti/js/index.js"></script>
    <script src="/apps/tahuti/js/json-enc.js"></script>
    <script src="/apps/tahuti/js/client-side-templates.js"></script>
  </head>

  <body
    hx-boost="true"
    hx-ext="client-side-templates"
    hx-request="noHeaders"
    hx-indicator="#overlay"
  >
    <header>
      <nav>
        <ul>
          <li>
            <a href="/groups">↜ Groups</a>
          </li>
          <li>
            <a href="/groups/{gid}/expenses">Expenses</a>
          </li>
          <li>
            <a href="/groups/{gid}/balances"><strong>Balances</strong></a>
          </li>
          <li>
            <a href="/groups/{gid}/settings">Settings</a>
          </li>
          <li>
            <a href="/groups/{gid}/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/svg/circles.svg" />
    </div>

    <div
      hx-get="/api/groups/{gid}"
      hx-trigger="load"
      hx-swap="outerHTML"
      mustache-template="group-template"
    ></div>
    <template id="group-template">
      <h2>{{title}}</h2>
      <div id="currency" hidden>{{currency}}</div>
    </template>

    <table id="balances" class="col-two">
      <thead>
        <tr>
          <th>Member</th>
          <th id="amount">Amount</th>
        </tr>
      </thead>
      <tbody
        id="get-balances"
        hx-get="/balances"
        hx-trigger="load"
        mustache-template="balances-template"
      ></tbody>
    </table>
    <template id="balances-template">
      <!-- iterate over array of balances object -->
      {{#.}}
      <tr>
        <td>{{member}}</td>
        <td headers="amount">{{amount}}</td>
      </tr>
      {{/.}}
    </template>

    <footer>
      <a
        title="Suggested reimbursements"
        aria-label="Suggested reimbursements"
        href="/groups/{gid}/reimbursements"
      >
        <?xml version="1.0" encoding="UTF-8"?><svg
          id="add-btn"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#000000"
        >
          <path
            d="M9.01894 9C9.00639 8.83498 9 8.66824 9 8.5C9 4.91015 11.9101 2 15.5 2C19.0899 2 22 4.91015 22 8.5C22 12.0899 19.0899 15 15.5 15C15.3318 15 15.165 14.9936 15 14.9811"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M8.5 22C4.91015 22 2 19.0899 2 15.5C2 11.9101 4.91015 9 8.5 9C12.0899 9 15 11.9101 15 15.5C15 19.0899 12.0899 22 8.5 22Z"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M22 17C22 18.6569 20.6569 20 19 20H17M17 20L19 18M17 20L19 22"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M2 7C2 5.34315 3.34315 4 5 4H7M7 4L5 6M7 4L5 2"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
    </footer>
  </body>

  <script src="/apps/tahuti/js/groups.js"></script>
  <script>
    // format values
    //
    const tableBody = document.getElementById("get-balances");
    tableBody.addEventListener("htmx:afterSettle", (event) => {
      const code = document.getElementById("currency").innerText;
      const USD = (value) =>
        currency(value, {
          symbol: "$",
          pattern: `# !`,
          negativePattern: `-# !`,
          fromCents: true,
        });
      const EUR = (value) =>
        currency(value, {
          symbol: "€",
          decimal: ",",
          separator: ".",
          pattern: `# !`,
          negativePattern: `-# !`,
          fromCents: true,
        });
      const BTC = (value) =>
        currency(value, {
          symbol: "₿",
          pattern: `# !`,
          negativePattern: `-# !`,
          fromCents: true,
          precision: 8,
        });
      for (const row of tableBody.rows) {
        for (const cell of row.cells) {
          if (cell.headers == "amount") {
            console.log(cell.innerText);
            if (code == "EUR") {
              cell.innerText = EUR(cell.innerText).format();
            } else if (code == "USD") {
              cell.innerText = USD(cell.innerText).format();
            } else if (code == "BTC") {
              cell.innerText = BTC(cell.innerText).format();
            } else {
              <!-- TODO: what to do in this case?-->
              console.log("currency code not supported.");
            }
          }
        }
      }
    });
  </script>
</html>
