<!doctype html>
<html class="dark" lang="en">
  <head>
    <title>Tahuti</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Tahuti" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/apps/tahuti/icon180.png" />
    <link rel="icon" href="/apps/tahuti/icon16.png" sizes="16x16" />
    <link
      rel="icon"
      href="/apps/tahuti/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/udjat.css" />
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates" hx-indicator="#overlay">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/groups">↜ Groups</a>
          </li>
          <li>
            <a href="/groups/{gid}/expenses">Expenses</a>
          </li>
          <li>
            <a href="/groups/{gid}/balances">Balances</a>
          </li>
          <li>
            <a href="/groups/{gid}/settings">Settings</a>
          </li>
          <li>
            <a href="/groups/{gid}/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <main>
      <div
        hx-get="/api/groups/{gid}"
        hx-trigger="load"
        hx-swap="outerHTML"
        mustache-template="group-template"
      ></div>
      <template id="group-template">
        <h2>{{title}}</h2>
        <div id="currency" hidden>{{currency}}</div>
      </template>

      <div id="error-div" class="error">
        <p id="error-pre"></p>
      </div>

      <div
        id="details"
        hx-get="/api/groups/{gid}/expenses/{eid}"
        hx-trigger="load"
        hx-ext="client-side-formats"
        mustache-template="details-template"
      ></div>
      <template id="details-template">
        <table class="col-two">
          <!-- iterate over array of members object -->
          <thead></thead>
          <tbody>
            {{#.}}
            <tr>
              <th>For what?</th>
              <td>{{title}}</td>
            </tr>
            <tr>
              <th>Amount</th>
              <td id="amount">{{amount}}</td>
            </tr>
            <tr>
              <th>Paid by</th>
              <td>{{payer}}</td>
            </tr>
            <tr>
              <th>Date</th>
              <td id="date">{{date}}</td>
            </tr>
            <tr>
              <th>Time</th>
              <td id="time">{{time}}</td>
            </tr>
            <tr>
              <th>Involves</th>
              <td>
                {{#involves}} {{.}} <br />
                {{/involves}}
              </td>
            </tr>
            {{/.}}
          </tbody>
        </table>
        <p style="text-align: center">
          Permanently
          <a
            id="delete-expense"
            hx-delete="/api/groups/{gid}/expenses/{eid}"
            hx-confirm="Are you sure?"
            hx-ext="json-enc"
            hx-swap="none"
            hx-on::after-request="window.location.pathname = '/apps/tahuti/groups/{{gid}}/expenses'"
            >delete</a
          >
          this expense.
        </p>
      </template>
    </main>
    <script src="/apps/tahuti/helper.js"></script>
  </body>
</html>
