<!doctype html>
<html lang="en">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Group Expenses" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/180.png"
    />
    <link
      rel="apple-touch-startup-image"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/512.png"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icons/16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="https://git.sr.ht/~talfus-laddus/tahuti/blob/main/tahuti/app/ui/static/images/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <meta name="theme-color" content="#fffff3" />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates" hx-indicator="#overlay">
    <header>
      <!-- invisible header bar to keep spacing consistent -->
      <nav style="opacity: 0; pointer-events: none">
        <ul>
          <li>Groups</li>
          <li>Expenses</li>
          <li>Balances</li>
          <li>Settings</li>
          <li>About</li>
        </ul>
      </nav>
      <div class="header-icon">
        <a href="/apps/tahuti/groups">
          <img class="svg-ico" src="/apps/tahuti/tahuti.svg" />
        </a>
      </div>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <h2>Group Expenses</h2>

    <table id="groups" class="groups">
      <thead>
        <tr>
          <th>Group</th>
          <th>Host</th>
        </tr>
      </thead>
      <!-- TODO: add default message: no groups yet -->
      <tbody
        id="groups"
        hx-get="/api/groups"
        hx-trigger="load"
        mustache-template="groups-template"
      ></tbody>
    </table>
    <template id="groups-template">
      <!-- iterate over array of members object -->
      {{#.}}
      <tr
        hx-get="/groups/{{gid}}/expenses"
        hx-target="body"
        hx-trigger="click"
        hx-push-url="true"
      >
        <td>{{title}}</td>
        <td>{{host}}</td>
      </tr>
      {{/.}}
    </template>

    <footer>
      <a href="/apps/tahuti/create">
        <svg
          id="add-btn"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#000000"
        >
          <path
            d="M22 14V8.5M6 13V6a3 3 0 013-3h5M16.992 4h3m3 0h-3m0 0V1m0 3v3M12 21H6a4 4 0 010-8h12a4 4 0 104 4v-3"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
      <p
        hx-get="/apps/tahuti/api/invites"
        hx-trigger="load"
        mustache-template="invites-template"
      ></p>
      <template id="invites-template"> {{#.}}{{gid}}{{/.}} </template>
    </footer>
  </body>
  <script src="/apps/tahuti/helper.js"></script>
  <script>
    const e = document.getElementById("get-invites");
    e.addEventListener("htmx:afterSwap", (event) => {
      if (e.innerHTML != "") {
        e.innerHTML =
          'You are invited to join another group. See <a href="/apps/tahuti/invites">invites</a>.';
      }
    });

    window.onpageshow = function (event) {
      if (event.persisted) {
        const e = document.getElementById("overlay");
        e.classList.remove("htmx-request");
      }
    };
  </script>
</html>
