<!doctype html>
<html lang="en">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Tahuti" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/apps/tahuti/icon180.png" />
    <link rel="icon" href="/apps/tahuti/icon16.png" sizes="16x16" />
    <link
      rel="icon"
      href="/apps/tahuti/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/udjat.css" />
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates" hx-indicator="#overlay">
    <header>
      <nav style="opacity: 0; pointer-events: none">
        <ul>
          <li>Groups</li>
          <li>Expenses</li>
          <li>Balances</li>
          <li>Settings</li>
          <li>About</li>
        </ul>
      </nav>
      <div class="header-icon">
        <a href="/apps/tahuti/groups">
          <img class="svg-ico" src="/apps/tahuti/icon.svg" />
        </a>
      </div>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <main>
      <h1>Tahuti</h1>
      <div id="error-div" class="error">
        <p id="error-pre"></p>
      </div>

      <div
        hx-get="/api/invites"
        hx-trigger="load"
        mustache-template="invites-template"
      ></div>
      <template id="invites-template">
        {{#.}}
        <fieldset>
          <label
            >You got invited to join <em>{{title}}</em> by
            <em>{{host}}</em>.</label
          >
          <form>
            <button
              id="post-join"
              class="button-primary"
              hx-post="/api/join"
              hx-ext="json-enc"
              hx-swap="none"
              hx-vals='{"gid": "{{gid}}", "host": "{{host}}", "public": "{{public}}"}'
              hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/tahuti/groups"'
              type="submit"
            >
              Join group ▸
            </button>
            <button
              id="post-leave"
              class="button-cancel"
              hx-post="/api/leave"
              hx-ext="json-enc"
              hx-swap="none"
              hx-vals='{"gid": "{{gid}}", "host": "{{host}}", "public": "{{public}}"}'
              hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/tahuti/groups"'
              type="submit"
            >
              Decline invitation ▸
            </button>
          </form>
        </fieldset>
        {{/.}}
      </template>
    </main>
    <script src="/apps/tahuti/helper.js"></script>
  </body>
</html>
