<!doctype html>
<html class="dark" lang="en">
  <head>
    <title>Group Expenses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Expense Sharing App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Tahuti" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/apps/tahuti/icon180.png" />
    <link rel="icon" href="/apps/tahuti/icon16.png" sizes="16x16" />
    <link
      rel="icon"
      href="/apps/tahuti/tahuti.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/tahuti/manifest.json"
      crossorigin="use-credentials"
    />
    <!-- /PWA -->
    <link rel="stylesheet" href="/apps/tahuti/style.css" />
    <link rel="stylesheet" href="/apps/tahuti/print.css" media="print" />
    <script src="/apps/tahuti/index.js"></script>
    <script src="/apps/tahuti/json-enc.js"></script>
    <script src="/apps/tahuti/client-side-templates.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates" hx-indicator="#overlay">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/groups">↜ Groups</a>
          </li>
          <li>
            <a href="/groups/{gid}/expenses">Expenses</a>
          </li>
          <li>
            <a href="/groups/{gid}/balances">Balances</a>
          </li>
          <li>
            <a href="/groups/{gid}/settings">Settings</a>
          </li>
          <li>
            <a href="/groups/{gid}/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/tahuti/circles.svg" />
    </div>

    <div
      hx-get="/api/groups/{gid}"
      hx-trigger="load"
      hx-swap="outerHTML"
      mustache-template="group-template"
    >
      <h2 style="opacity: 0">Loading ...</h2>
    </div>
    <template id="group-template">
      <h2>{{title}}</h2>
      <div id="currency" hidden>{{currency}}</div>
    </template>
    <blockquote>Who owes to whom?</blockquote>
    <table class="reimbursements col-two">
      <thead>
        <tr hidden>
          <th></th>
          <th id="amount">Amount</th>
        </tr>
      </thead>
      <tbody
        id="reimbursements"
        hx-get="/api/groups/{gid}/reimbursements"
        hx-trigger="load"
        hx-ext="client-side-formats"
        mustache-template="reimbursements-template"
      ></tbody>
    </table>
    <template id="reimbursements-template">
      <!-- iterate over array of reimbursements object -->
      {{#.}}
      <tr>
        <td>{{debitor}}<br /><small>owes</small><br />{{creditor}}</td>
        <td style="line-height: 9px"></td>
        <td headers="amount">{{amount}}</td>
      </tr>
      {{/.}}
    </template>
  </body>

  <script src="/apps/tahuti/helper.js"></script>
</html>
