header > nav ul,
header > nav ol {
    align-content: space-around;
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}

/* List items are inline elements, make them behave more like blocks */
header > nav ul li,
header > nav ol li {
    display: inline-block;
}

header > nav a,
header > nav a:visited {
    /* color: var(--purple); */
    display: inline-block;
    padding: 0.1rem 1rem;
}

header > nav a:last-child {
    margin-right: 0;
}

header > nav ul li svg {
    display: inline-block;
    padding: 0.1rem 1rem;
    vertical-align: middle;
  }
