footer {
    text-align: center;

    /* fixed/sticky footer */
    position: sticky;
    bottom: 0;
    max-width: var(--max-width);
    width: 100%;

    color: var(--fg);
    /* same as var(--bg0_h) but transparent*/
    background-color: rgba(255, 255, 243, 0.9);
}
