/* reset fieldset style */
legend {
    padding: 0;
    display: table;
}
fieldset {
    border: 0;
    padding: 0;
    /* top right bottom left */
    margin: var(--vspace) var(--vspace) var(--vspace-3) var(--vspace);
    min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

select,
input,
button {
    display: inline-block;
    margin-bottom: var(--vspace-3);

    font-size: 1.0833em;
    line-height: calc(1.0833 * var(--vspace));
}

input {
    /* put label close to form */
    margin-top: 0;
}

select {
    /* put label close to form */
    margin-top: 0;

    background: white;

    border: var(--fg) 1px solid;
    border-radius: 0;

    height: calc(1.0833 * var(--vspace));
}

button {
    margin-top: var(--vspace-3);
    margin-right: var(--vspace);

    padding-left: var(--vspace-3);
    padding-right: var(--vspace-3);

    background: var(--bg);
    color: var(--fg);

    /* border: 1px solid var(--blue); */
    border-radius: 0;

    cursor: pointer;
}

.button-primary {
    background: var(--blue);
    color: white;
    border: var(--fg) 1px solid;
}

.button-cancel {
    background: var(--red);
    color: white;
    border: var(--fg) 1px solid;
}

button:hover {
    border: var(--fg) 2px solid;
}
