/* reset fieldset style */
legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

button,
input,
select {
  display: inline-block;
  /* margin-bottom: var(--vspace-3); */
  margin-bottom: var(--vspace-3);

  font-size: 1em;
  line-height: var(--vspace);
  border: 1px solid var(--fg);
  border-radius: calc(0.3 * var(--vspace-3));
}

select {
  background: white;
  height: calc(1.0833 * var(--vspace));
}

label {
  display: inline-block;
  margin-bottom: calc(0.3 * var(--vspace-3));
}

button {
  margin-top: var(--vspace-3);
  margin-right: var(--vspace);
  cursor: pointer;
  color: white;
}
