/* booktabs like tables
/* https://stackoverflow.com/questions/68779936/booktabs-like-tables-for-markdown */

table {
  max-width: 100%;
  border-collapse: collapse;

  font-variant-numeric: slashed-zero tabular-nums;
  margin: var(--vspace) 0;
  /* margin-left: var(--vspace); */
  margin-left: auto;
  margin-right: auto;

  white-space: nowrap;
  /* border-spacing: 0; */

  /* make table scrollable (horizontal) */
  /* border-collapse: seperate; */
  /* display: block; */
  /* display: inline-block; */
  /* overflow-y: auto; */
  /* height: 200px; (vertical) */
}

/* table > thead > tr > th:not(:empty) { */
/*     /1* font-weight: 400; *1/ */
/*     font-style: italic; */
/*     max-width: 5em; */
/* } */

table > thead > tr > :is(th, td) {
  /* /1* table head will be placed from the top of the table and sticks to it *1/ */
  /* top: 0px; */
  /* /1* make the table heads sticky *1/ */
  /* position: sticky; */
  /* background: var(--bg0_h); */

  font-style: italic;
  border-top: 2px solid;
  border-bottom: 1px solid;
  max-width: 8em;
}

table > :is(thead, tbody) > tr > :is(th, td) {
  padding: 3px;
  text-align: left;
  padding-right: 30px;
}

table > tbody > tr:last-child > :is(th, td) {
  border-bottom: 2px solid;
}

.expenses > :is(thead, tbody) > tr > :is(th, td),
.groups > :is(thead, tbody) > tr > :is(th, td) {
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expenses > tbody > tr:hover,
.groups > tbody > tr:hover {
  cursor: pointer;
}

.expenses > :is(thead, tbody) > tr > :is(th, td):nth-child(2),
.col-two > :is(thead, tbody) > tr > :is(th, td):nth-child(2) {
  text-align: right;
}

@media (max-width: 640px) {
  .expenses > tbody > tr td:nth-child(3),
  .expenses > tbody > tr td:nth-child(4),
  .expenses > thead > tr th:nth-child(3),
  .expenses > thead > tr th:nth-child(4) {
    display: none;
  }
  .expenses > :is(thead, tbody) > tr > :is(th, td):nth-child(2) {
    text-align: right;
  }
}
