/* START: LGC Typographic Scale Calculator (layoutgridcalculator.com) */
p,
ul,
ol,
dl,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  line-height: var(--vspace) 0;
  margin-bottom: var(--vspace);
}

h1 {
  font-size: 3.1875em;
  /* /1* small caps *1/ */
  /* font-feature-settings: "smcp"; */
  /* top right bottom left */
  margin: var(--vspace-1) 0 var(--vspace-1) 0;
  line-height: calc(3.1875 / var(--space) * var(--vspace));
  word-break: break-word;
  color: var(--red);
}

h2 {
  font-size: 1.9792em;
  /* top right bottom left */
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
  line-height: 1em;
  word-break: break-word;
  text-align: center;
  color: var(--red);
}

h3 {
  font-size: 1.4792em;
  /* top right bottom left */
  margin: var(--vspace-1) 0 var(--vspace-3) 0;
  line-height: 1em;
}

blockquote {
  font-size: 1em;
  font-style: italic;
  line-height: calc(1 * var(--vspace));
  margin: var(--vspace-2) var(--vspace-2);
  text-align: center;
}

.caption_ts {
  font-size: 0.8333em;
  font-weight: normal;
  font-style: italic;
}

.endnote_ts {
  font-size: 0.8333em;
}

.footnote_ts {
  margin: var(--vspace-0) 0 var(--vspace-2) 0;
  font-size: 0.75em;
  border-top: 1px solid #ccc;
  line-height: 2em;
}

sup {
  font-size: 0.75rem;
  margin: 0.5em;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}

/* END: LGC Typographic Scale Calculator (layoutgridcalculator.com) */

code {
  font-family: monospace;
  font-size: 0.8125rem;
  line-height: calc(0.9167 * var(--vspace));

  /* if code is part of a definition list do not use italic */
  font-style: normal !important;
}

pre {
  /* expand code block over margin */
  /* display: inline-block; */

  font-family: monospace;
  /* font-size: 0.9167em; */
  font-size: 0.8125rem;
  line-height: calc(0.9167 * var(--vspace));

  color: var(--fg);
}

a,
a:visited {
  font-style: italic;
  text-decoration-line: underline;
  color: var(--fg);
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--blue);
}

a#delete:hover {
  text-decoration: none;
  color: var(--red);
}
